html {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
.menu{
    margin: auto;
    width: 700px;
    background-color: #0DBA4B;
    display: flex;
    border-radius: 5px;
    margin-top: 23%;
}
.menu-link{
   color: white;
   display: block;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   padding: 19px 0;
   width: 25%;
   text-align: center;
   border-radius: 5px;
   transition: 0.2s;

}
.menu-link:hover{
    background-color: #44bb9b;
}
